<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.clement.tvscheduler">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- A child of the main activity -->
        <activity
            android:name=".activity.TasksActivity"
            android:label="@string/create_task_activity_child">


            <fragment
                android:id="@+id/tasks_fragment"
                android:name="com.clement.tvscheduler.activity.fragment.TaskFragment"
                android:layout_width="0dp"
                android:layout_height="match_parent"
                android:layout_weight="1" />

            <fragment
                android:id="@+id/course_fragment"
                android:name="com.clement.tvscheduler.activity.fragment.ListeCourseFragment"
                android:layout_width="0dp"
                android:layout_height="match_parent"
                android:layout_weight="1" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>